.maxHeight {
  height: calc(var(--vhMobile, 1vh) * 100);
}

.maxWidth {
  width: calc(var(--vwMobile, 1vw) * 100);
}

.insideMaxWidth {
  width: 100%;
}

.scrollHidden {
  overflow: hidden;
}

/* 
====================================
==================================== Flex ========================================== 
====================================
*/
.flexColumn {
  display: flex;
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.alignCenter {
  align-self: center;
}

.positionRelative {
  position: relative;
}

.positionCenter {
  top: 1.2em;
}