.show {
  display: block;
  background: khaki;
  color: black;
  padding: 2em;
  position: absolute;
}

.hide {
  display: none;
}

.form {
  /* background-color: blueviolet; */
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2em 0em;
}

.selectWrapper {
  width: 70%;
}

.choices {
  font-size: 1.25em;
  font-family: sans-serif;
  padding: 0.6em 0em 0.6em 0.8em;
  width: 100%;
  text-align: center;
  /* box-sizing: border-box; */
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
      for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
      
    */
  /* background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); */
  background-image: linear-gradient(#ffffff, #d0dfff);
  background-repeat: repeat;
  align-self: center;
  cursor: pointer;
  transition: ease all 0.3s;
}

.choices:hover {
  box-shadow: 0em 0.05em 0.4em 0.15em rgba(255, 255, 255, 0.7);
  transition: ease all 0.3s;
}

.choices:active {
  outline: none;
}

.choices:focus {
  outline: none;
}

.textBoxes {
  width: 66%;
  align-self: center;
  font-size: 1.25em;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 1em;
  outline: none;
  border-style: none;
  background-color: transparent;
  transition: ease all 0.3s;
  color: khaki;
}

.textBoxes::placeholder {
  color: aliceblue;
  transition: ease all 0.3s;
}

.textBoxes:hover {
  /* border-bottom-style: solid;
    border-color: rgb(241, 145, 0); */
  box-shadow: 0em 0.1em 0em rgb(241, 145, 0);
  transition: ease all 0.3s;
}

.textBoxes:hover::placeholder {
  color: rgb(241, 145, 0);
  transition: ease all 0.3s;
}

.userTyped {
  box-shadow: 0em 0.1em 0em khaki;
}

.submitBtn {
  width: fit-content;
  font-size: 1.4em;
  padding: 0.5em;
  /* align-self: center; */
  border-radius: 0.5em;
  margin-top: 1em;
  transition: ease all 0.3s;
  outline: none;
  border-style: none;
  /* background-image: linear-gradient(#bfe2ff, #8bb0ff); */
  background-color: aliceblue;
  cursor: pointer;
}

.submitBtn:hover {
  transition: ease all 0.3s;
  box-shadow: 0em 0em 0.7em rgba(255, 255, 255, 0.7);
}

.submitBtn:hover {
  width: fit-content;
  font-size: 1.4em;
  padding: 0.5em;
  /* align-self: center; */
  border-radius: 0.5em;
  margin-top: 1em;
}

.finished{
  background-color: khaki;
}

.cancelBtn {
  width: fit-content;
  font-size: 1.25em;
  padding: 0.5em;
  /* align-self: center; */
}
