.btn {
  width: 200px;
  height: 100px;
  background-color: bisque;
}

.monthDisplay {
    padding: 1em 0em;
    /* background: lightseagreen; */
}

.arrows {
    font-size: 1.4em;
    align-self: center;
    /* color:blanchedalmond; */
}

.arrows:hover {
    cursor: pointer;
}
.title {
    align-self: center;
}
.width80 {
    display: flex;
    /* width: 80%; */
}

.widthFull {
  width: 100%;
  height: fit-content;
  /* background: lightcoral; */
  margin: 0em .5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.days {
  width: 100%;
  /* background: lightgreen; */
  /* margin: 0.25em 0.5em; */
  text-align: center;
  padding: .9em 0em;
  margin: .1em 0em;
  border-radius: 10em;
}

.notInMonth {
    color: gray;
}

.dateNum {

}

.dateNum:hover {
    background-color: rgb(255, 232, 202);
    cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-around;
}
