.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
  position: relative;
}
/* .container::-webkit-scrollbar {
  display: none;
} */

.pseudoScroll {
  position: absolute;
  top: 0;
  right: 1%;
  width: 0.5em;
  background: rgb(0, 0, 0);
  /* height: 33%; */
  height: 2em;
  opacity: 0.5;
  z-index: 10;
  border-radius: 1em;
  margin: 5px 0px;
}


.introCard {
  padding-bottom: 1em;
}

.userName {
  color: rgb(0, 0, 0);
  margin-top: 0.8em;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  /* font-family: 'Alegreya Sans SC', sans-serif; */
}

.todaysDate {
  color: rgb(0, 0, 0);
  margin-top: 0.6em;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.4em;
  /* font-family: 'Alegreya Sans SC', sans-serif; */

}

.goalSection {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;
}

.goalSection::-webkit-scrollbar {
  display: none;
}

.extraSpace {
  height: 15em;
  width: 100%;
}

.extraPadding {
  padding: 10em 0em;
  width: 100%;
}