.goalCard {
  background: rgb(79, 79, 79);
  height: fit-content;
  width: 60%;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 1.5em;
  position: relative;
}

.goalTitle {
  font-size: 1.25em;
  font-family: "Alegreya Sans SC", sans-serif;
  align-self: center;
}

.checkBtn {
  cursor: pointer;
  font-size: 1.2em;
  align-self: center;
}

.fitness {
  /* background-image: linear-gradient(rgb(255, 217, 173), rgba(255, 182, 98, 0.9)); */
  background-image: linear-gradient(rgb(164, 206, 255), rgb(60, 122, 192));
  color: rgb(243, 249, 255);
  text-shadow: .5px .5px 3px black;
}

.reading {
  /* background-image: linear-gradient(rgb(180, 255, 164), rgb(86, 172, 93)); */
  /* background-image: linear-gradient(rgb(255, 154, 250), rgb(161, 5, 213)); */
  background-image: linear-gradient(rgb(154, 252, 255), rgb(5, 213, 151));
  color: rgb(237, 254, 255);
  text-shadow: .5px .5px 3px black;
}

.career {
  /* background-image: linear-gradient(rgb(164, 206, 255), rgb(92, 140, 196)); */
  background-image: linear-gradient(rgb(157, 81, 0), rgb(68, 39, 0));
  color: rgb(255, 244, 232);
  text-shadow: .5px .5px 3px black;
}

.lifeStyle {
  background-image: linear-gradient(rgb(255, 244, 140), rgb(255, 230, 0));
  color: rgb(255, 255, 253);
  text-shadow: .5px .5px 3px black;
}

.finance {
  background-image: linear-gradient(rgb(97, 255, 137), rgb(24, 196, 38));
  color: rgb(241, 255, 245);
  text-shadow: .5px .5px 3px black;
}

.love {
  background-image: linear-gradient(rgb(255, 164, 164), rgb(212, 108, 108));
  color: rgb(255, 255, 255);
  text-shadow: .5px .5px 3px black;

}

.relationship {
  background-image: linear-gradient(rgb(255, 103, 247), rgb(161, 5, 213));
  color: rgb(253, 237, 255);
  text-shadow: .5px .5px 3px black;
}
